body {
  background-color: bisque;
  color: #6cf;
  text-align: center;
}

.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto; /* Height of the footer */
  background: #6cf;
  color: white;
}
